In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [6]:
from sklearn import tree

In [32]:
from sklearn.model_selection import train_test_split

In [48]:
from sklearn import metrics

In [49]:
df=pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')

In [50]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [51]:
df[df.columns[1:]].corr()['Index'][:]

Height   -0.422223
Weight    0.804569
Index     1.000000
Name: Index, dtype: float64

In [52]:
df.groupby(['Index','Gender'])['Gender'].count()

Index  Gender
0      Female      7
       Male        6
1      Female      7
       Male       15
2      Female     41
       Male       28
3      Female     36
       Male       32
4      Female     71
       Male       59
5      Female     93
       Male      105
Name: Gender, dtype: int64

In [53]:
df.groupby(['Height','Gender'])['Gender'].count()

Height  Gender
140     Female    2
        Male      6
141     Female    3
        Male      5
142     Female    4
        Male      5
143     Female    1
        Male      2
144     Female    1
        Male      4
145     Female    2
        Male      7
146     Female    6
        Male      3
147     Female    4
        Male      3
148     Female    2
        Male      3
149     Female    2
        Male      3
150     Female    9
        Male      2
151     Female    4
        Male      4
152     Female    3
        Male      5
153     Female    7
        Male      3
154     Female    3
        Male      7
                 ..
185     Female    8
        Male      3
186     Female    7
        Male      2
187     Female    7
        Male      7
188     Female    6
        Male      9
189     Female    3
        Male      2
190     Female    4
        Male      5
191     Female    2
        Male      5
192     Female    5
        Male      1
193     Female    1
        Male      4
194     Female    2
        Male      3
195     Female    5
        Male      5
196     Female    4
        Male      2
197     Female    3
        Male      4
198     Female    2
        Male      3
199     Female    1
        Male      2
Name: Gender, Length: 120, dtype: int64

In [54]:
X=df.drop(['Gender'],axis=1)

In [55]:
y=df['Gender']

In [56]:
X.head()

   Height  Weight  Index
0     174      96      4
1     189      87      2
2     185     110      4
3     195     104      3
4     149      61      3

In [57]:
y.head()

0      Male
1      Male
2    Female
3    Female
4      Male
Name: Gender, dtype: object

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=5)

In [73]:
clf=tree.DecisionTreeClassifier()

In [74]:
clf=clf.fit(X_train, y_train)

In [75]:
y_pred=clf.predict(X_test)

In [77]:
print(metrics.accuracy_score(y_test,y_pred))

0.5511111111111111

10